@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

#map {
  height: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.leaflet-container {
  margin: auto;
  height: 400px;
  max-width: 600px;
}

.ag-root-wrapper.ag-layout-normal {
  height: 400px !important;
  width: 90%;
  margin: auto;
}
